{% extends "base.html" %}

{% block content %}
    <section>
        <h2>Today's Chores</h2>
        {% if not todays_chores %}
            <p>No chores today!</p>
        {% else %}
            <ul class="chore-list" id="todays-chores">
                {% for chore, allocation in todays_chores %}
                <li class="{% if chore.is_overdue and not chore.is_completed %}overdue{% endif %}
                           {% if chore.is_completed() %}completed{% endif %}"
                    data-chore-id="{{ chore.id }}"
                >
                    <span><strong>Chore: </strong>{{ chore.name }}</span>
                    <span>
                        <strong>Duration: </strong>
                         {{ chore.duration_minutes }} minutes
                    </span>
                </li>
                {% endfor %}
            </ul>
        {% endif %}
    </section>

    <br>
    <hr>

    <section>
        <h2>Your chores</h2>
        {% if not chores %}
            <p>Pending chore allocation...</p>
        {% else %}
            <ul class="chore-list">
                {% for chore in unique_chores %}
                <li>
                    <h3>
                        {{ chore.name }}
                    </h3>
                    <span>
                        Frequency: {{ chore.times_per_frequency }} per
                        {% if chore.frequency == 'daily' %}
                            day
                        {% elif chore.frequency == 'weekly' %}
                            week
                        {% elif chore.frequency == 'monthly' %}
                            month
                        {% endif %}
                    </span>
                    <span>
                        Duration: {{ chore.duration_minutes }} minutes
                    </span>
                </li>
                {% endfor %}
            </ul>
        {% endif %}
    </section>

    <section>
        <h2>Chore schedule</h2>
        {% for chore, allocation in chores %}
            <h3>{{ chore.name }}</h3>
            <p>Chore due: {{ allocation.due_date }}</p>
        {% endfor %}
    </section>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/toggle-chore-completed.js') }}"></script>
{% endblock %}