{% extends 'base.html' %}

{% block title %}
    {{ super() }} - Manage
{% endblock %}

{% block content %}

<div class="container">
    <div id="page-header">
        <h1>Manage chores</h1>
    </div>
    
    <div id="add-chore">
        <h2>Add chore:</h2>
        <form class="form" id="add-chore-form" method="POST">
            <div class="form-group">
                <label for="chore-name">Name:</label>
                <input type="text" id="chore-name" name="chore-name" required>
            </div>
    
            <div class="form-group">
                <label for="chore-frequency">Frequency:</label>
                <select id="chore-frequency" name="chore-frequency" required>
                    <option value="monthly">Monthly</option>
                    <option value="weekly">Weekly</option>
                    <option value="daily" selected>Daily</option>
                </select>
            </div>
    
            <div class="form-group form-group--inline">
                <input type="number" min="1" max="28" name="chore-times" id="chore-times" value="1">
                <label for="chore-times"> per <span id="frequency">day</span></label>
            </div>

            <div class="form-group">
                <label for="chore-duration">Duration (minutes):</label>
                <input type="number" id="chore-duration" name="chore-duration" value="15" required>
            </div>
    
            <button type="submit" class="btn btn--form">Create chore</button>
        </form>
    </div>
    
    <div id="chores">
        <h2>Chores:</h2>
        <ul class="chore-list">
            {% for chore in chores %}
            <li>
                <span>
                    {{ chore.name }}
                    {{ chore.allocation.user.username }}
                </span>
                <span>
                    {{ chore.times_per_frequency }}x
                    {% if chore.frequency.value == 'daily' %}
                        per day
                    {% elif chore.frequency.value == 'weekly' %}
                        per week
                    {% elif chore.frequency.value == 'monthly' %}
                        per month
                    {% endif %}
                </span>
                <span>
                    {{ chore.duration_minutes }} minutes
                </span>
                <a href="{{ url_for('edit_chore', chore_id=chore.id) }}">Edit</a>
            </li>
            {% endfor %}
        </ul>
    </div>    
</div>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/add-chore.js') }}"></script>
{% endblock %}