{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
    <div id="page-header">
        <h1>Register</h1>
    </div>
    <form class="form form--sm" method="POST">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="{{ username }}" required>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>

        <div class="form-group">
            <label for="confirm-password">Confirm password:</label>
            <input type="password" id="confirm-password" name="confirm-password" required>
        </div>

        <button type="submit" class="btn btn--form">Register</button>

        <a href="{{ url_for('auth.login') }}" class="small-link">Click here to login</a>
    </form>
{% endblock %}