.click-msg {
    content: attr(data-click-msg);
    display: none;
    position: absolute;
    transform: translateX(-50%);
    background-color: #ffffff;
    border: 2px dotted #a6afc0;
    color: #151515;
    padding: 5px 10px;
    border-radius: 9px;
    white-space: nowrap;
    font-size: 14px;
    opacity: 0;
    animation: rise 1.5s ease-out;
    z-index: 100;
}

.click-msg.show {
    display: flex;
    opacity: 1;
}

@keyframes rise {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    30% {
        opacity: 1;
        transform: translateY(-10px);
    }
    80% {
        opacity: 1;
        transform: translateY(-10px);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}