body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* HELPERS */

.text-center {
    text-align: center;
}

.m-auto {
    margin: auto;
}

/* NAVBAR */

#navbar {
    padding: 0.8em 1em;
    background: #b7f1ff;
    font-size: 0.9em;
}

#navbar p {
    margin: 0;
}

#navbar a {
    text-decoration: none;
    color: #000;
}

#nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#nav-container a {
    display: inline-block;
}

#nav-links {
    display: flex;
    align-items: center;
    column-gap: 0.5em;
}

#nav-links a {
    padding: 0.3em 0.5em;
    border-radius: 10%;
    border-bottom: 1px solid #0000003b;
}

#nav-links a:hover {
    transform: scale(1.001);
    border-color: #000000a4;
}

#logo {
    margin-right: auto;
}

#logo > a {
    display: inline-flex;
    height: 100%;
    align-items: center;
}

/* GENERAL */

.container {
    max-width: 95vw;
    padding: 0 0.2em;
    margin: auto;
}

#flashes {
    padding: 0.35em;
    margin: 0;
    display: flex;
    justify-content: center;
    border: 1px solid #a7a7a7;
    border-left: 0;
    border-right: 0;
    font-size: 0.75em;
    list-style-type: none;
    background-color: #b7f1ff2b;

    transform: translateY(-100%);
    animation: slideInSlideOut 5s linear;
}

#flashes-container {
    height: calc(.70em + .75em);
    overflow: hidden;
}

#page-header > h1 {
    text-align: center;
    text-transform: capitalize;
}

@media screen and (min-width: 625px) {
    .container {
        max-width: 600px;
    }

    #nav-links a {
        padding: 0.5em 0.8em;
        margin-left: 0.5em;
    }
}

/* FORM */

.form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form--sm {
    max-width: 300px;
    margin: auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.form-group--inline, .form-group--inline > * {
    display: inline;
}

#chore-times {
    width: 3em;
    text-align: center;
}

.hidden {
    display: none !important;
}

.btn {
    width: fit-content;
    padding: 0.4em 2em;
    margin: auto;
    background-color: #000000d2;
    color: #fff;
    border-radius: 0.5em;
    border: none;
    font-weight: 600;    
}

.btn:hover {
    background-color: #000;
    cursor: pointer;
}

a.small-link {
    margin-top: 0.2em;
    font-size: 0.8em;
    text-align: center;
}

/* MANAGE */

#add-chore-form {
    margin: 0 0.5em;
    margin-bottom: 1em;
}

#add-chore-form > .btn--form {
    margin: 0;
}

#chore-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
}

#chore-list > li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: aliceblue;
    margin: 0 0.5em;
    padding: 1em;
    border: 1px solid #0000003b;
    border-left: none;
    border-right: none;
}

#chore-list > li:hover {
    border-color: #00000070;
    cursor: pointer;
}

#chore-list > li > a {
    color: rgb(88, 0, 0);
    font-weight: 600;
    text-decoration: none;
}

#chore-list > li:hover > a {
    text-decoration: underline;
}

/* RATE */

#rate-chores-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

#rate-chores-container > p {
    margin: 0;
}

#rate-chores-container > #chore {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: aliceblue;
    padding: 1em;
    border: 1px solid #0000003b;
    border-left: none;
    border-right: none;
    margin-top: 1em;
}

#chore > #chore-name {
    margin: 0;
    font-weight: 600;
    font-size: 1.4em;
}

#chore > #chore-name+p {
    margin-bottom: 0;
}

#loading-indicator {
    font-size: 1.5em;
    text-align: center;
}

#rate-btn-container {
    display: flex;
    width: 100%;
    max-width: 350px;
    justify-content: space-evenly;
}

.rate-btn {
    --alpha: 0.2;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rate-btn[data-rate="1"] {
    background-color: rgba(230, 25, 100, var(--alpha));
}

.rate-btn[data-rate="2"] {
    background-color: rgba(205, 50, 100, var(--alpha));
}

.rate-btn[data-rate="3"] {
    background-color: rgba(180, 75, 100, var(--alpha));
}

.rate-btn[data-rate="4"] {
    background-color: rgba(155, 100, 100, var(--alpha));
}

.rate-btn[data-rate="5"] {
    background-color: rgba(130, 125, 100, var(--alpha));
}

.rate-btn[data-rate="6"] {
    background-color: rgba(105, 150, 100, var(--alpha));
}

.rate-btn[data-rate="7"] {
    background-color: rgba(80, 175, 100, var(--alpha));
}

.rate-btn[data-rate="8"] {
    background-color: rgba(55, 200, 100, var(--alpha));
}

.rate-btn[data-rate="9"] {
    background-color: rgba(30, 225, 100, var(--alpha));
}

.rate-btn[data-rate="10"] {
    background-color: rgba(5, 250, 100, var(--alpha));
}

.rate-btn:hover {
    --alpha: 0.4;
    transform: scale(1.2);
    cursor: pointer;
}

/* ANIMATION */

@keyframes slideInSlideOut {
    0% {
        transform: translateY(-100%);
    }

    10% {
        transform: translateY(0);
    }

    90% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}