body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

option.disabled {
    color: #a7a7a7;
}

/* HELPERS */

.text-center {
    text-align: center;
}

.m-auto {
    margin: auto;
}

.ml-auto {
    margin-left: auto;
}

/* NAVBAR */

#navbar {
    padding: 0.8em 1em;
    background: #b7f1ff;
    font-size: 0.9em;
}

#navbar p {
    margin: 0;
}

#navbar a {
    text-decoration: none;
    color: #000;
}

#nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#nav-container a {
    display: inline-block;
}

button.dropdown-btn {
    background: none;
    border: none;
    font-size: 1em;
    padding: 0;
}

button.dropdown-btn:hover {
    cursor: pointer;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    text-align: center;
}

.dropdown > .dropdown-content-container {
    padding-top: 0.5em;
    display: none;
    position: absolute;
    min-width: 100%;
    right: 0;
}

.dropdown .dropdown-content {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    width: fit-content;
    justify-content: center;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 8px -3px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 0.5em;
    border-radius: 0 0 1em 1em;
    padding: 2px;
}

.dropdown .dropdown-content > .nav-link {
    border: none;
    margin-left: 0;
    display: flex;
    white-space: nowrap;
}

.dropdown:hover .dropdown-content-container {
    display: flex;
}

#nav-link-container {
    display: flex;
    align-items: center;
    column-gap: 0.5em;
}

.nav-link, .dropdown {
    padding: 0.3em 0.5em;
    border-radius: 10%;
    border-bottom: 1px solid #0000003b;
}

.nav-link:hover, .dropdown:hover {
    border-color: #000000a4;
}

.dropdown-content > .nav-link:hover {
    background-color: #ffffff;
}

#nav-link-container > .nav-link:hover {
    transform: scale(1.001);
}

#logo {
    margin-right: auto;
}

#logo > a {
    display: inline-flex;
    height: 100%;
    align-items: center;
}

/* GENERAL */

.container {
    max-width: 95vw;
    padding: 0 0.2em;
    margin: auto;
}

#flashes {
    padding: 0.35em;
    margin: 0;
    display: flex;
    justify-content: center;
    border: 1px solid #a7a7a7;
    border-left: 0;
    border-right: 0;
    font-size: 0.75em;
    list-style-type: none;
    background-color: #b7f1ff2b;
    transform: translateY(-100%);   
    animation: slideInSlideOut 5s linear;
    /* Height same size as container */
    height: inherit;
    /* Factor border and padding into height */
    box-sizing: border-box;
    align-items: center;
}

#flashes:has(li.error) {
    border-color: #ff5858;
    background-color: #ffe1e12b;
}

#flashes-container {
    height: calc(1em + .35em + .30em);
    overflow: hidden;
}

#page-header {
    margin-bottom: 3em;
}

#page-header > h1 {
    text-align: center;
    text-transform: capitalize;
}

@media screen and (min-width: 625px) {
    .container {
        max-width: 800px;
    }

    .nav-link, .dropdown {
        padding: 0.5em 0.8em;
        margin-left: 0.5em;
    }
}

/* FORM */

.form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form--sm {
    max-width: 300px;
    margin: auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.form-group--inline, .form-group--inline > * {
    display: inline;
}

#chore-times {
    width: 3em;
    text-align: center;
}

.hidden {
    display: none !important;
}

.btn {
    width: fit-content;
    padding: 0.6em 1.75em;
    background-color: #000000d2;
    color: #fff;
    border-radius: 0.5em;
    border: none;
    font-weight: 600;
    font-size: 0.8em;
    text-decoration: none;
    margin-bottom: 1em;
}

.btn:hover {
    background-color: #000;
    cursor: pointer;
}

.btn--muted {
    border: 1px solid gray;
    color: black;
    background-color: #ffffff;
}

.btn--muted:hover {
    background-color: #f1f1f1;
}

a.small-link {
    margin-top: 0.2em;
    font-size: 0.8em;
    text-align: center;
}

/* MANAGE */

#registration-link-container {
    display: none;
    font-size: 0.8em;
    overflow: hidden;
    margin: -5px;
}

#registration-link-container.show {
    display: block;
}

#registration-link-container > label    {
    font-weight: bold;
}

#registration-link {
    display: inline;
    background-color: #fafafa;
    padding: 0.4em;
    border: 1px solid #f0f0f0;
}

#invite-link{
    display: flex;
    gap: 0.5em;
    align-items: center;
    margin: 1em 0;
    flex-wrap: wrap;
}

#add-chore-form {
    margin: 0 0.5em;
    margin-bottom: 1em;
}

.btn--form {
    margin-top: 0.5em;
}

.dual-form-btn-container {
    display: flex;
}

#delete-chore-btn {
    margin-left: auto;
}

.chore-table {
    width: 100%;
    border-spacing: 0 0.8em;
}

.chore-table th, .chore-table td {
    padding: 1em;
}

.chore-table th {
    text-align: left;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.chore-table tr:nth-child(even) {
    background-color: #f8fcff;
}

.chore-table td {
    border: 1px solid #0000003b;
    border-right: 0;
    border-left: 0;
}

.chore-table a {
    color: rgb(88, 0, 0);
    font-weight: 600;
    text-decoration: none;
}

.chore-table a:hover {
    text-decoration: underline;
}

/* RATE */

#rate-chores-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

#rate-chores-container > p {
    margin: 0;
}

#rate-chores-container > #chore {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: aliceblue;
    padding: 1em;
    border: 1px solid #0000003b;
    border-left: none;
    border-right: none;
    margin-top: 1em;
}

#chore > #chore-name {
    margin: 0;
    font-weight: 600;
    font-size: 1.4em;
}

#chore > #chore-name+p {
    margin-bottom: 0;
}

#loading-indicator {
    font-size: 1.5em;
    text-align: center;
}

.rate-btn-container {
    display: flex;
    width: 100%;
    max-width: 350px;
    justify-content: space-evenly;
    align-items: center;
}

.rate-btn {
    --alpha: 0.2;
    max-width: 2em;
    max-height: 2em;
    display: flex;
    flex-grow: 1;
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
}

.rate-btn[data-rate="1"] {
    background-color: rgba(255, 0, 0, var(--alpha));
}

.rate-btn[data-rate="2"] {
    background-color: rgba(255, 50, 50, var(--alpha));
}

.rate-btn[data-rate="3"] {
    background-color: rgba(255, 100, 100, var(--alpha));
}

.rate-btn[data-rate="4"] {
    background-color: rgba(255, 150, 150, var(--alpha));
}

.rate-btn[data-rate="5"] {
    background-color: rgba(255, 200, 200, var(--alpha));
}

.rate-btn[data-rate="6"] {
    background-color: rgba(200, 255, 200, var(--alpha));
}

.rate-btn[data-rate="7"] {
    background-color: rgba(150, 255, 150, var(--alpha));
}

.rate-btn[data-rate="8"] {
    background-color: rgba(100, 255, 100, var(--alpha));
}

.rate-btn[data-rate="9"] {
    background-color: rgba(50, 255, 50, var(--alpha));
}

.rate-btn[data-rate="10"] {
    background-color: rgba(0, 255, 0, var(--alpha));
}

.rate-btn:hover, .rate-btn.selected {
    --alpha: 0.4;
    transform: scale(1.2);
}

.rate-btn:hover {
    cursor: pointer;
}

#back-btn {
    margin-left: 0;
    margin-top: 1.5em;
}

/* ANIMATION */

@keyframes slideInSlideOut {
    0% {
        transform: translateY(-100%);
    }

    10% {
        transform: translateY(0);
    }

    90% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}